# Entorno virtual
.venv/
venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de entorno
.env
.env.*

# Archivos temporales y logs
*.log
*.tmp
*.swp
.DS_Store

# Archivos de test y resultados
*.coverage
htmlcov/

# Archivos de configuración de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Otros
*.bak
*.orig

# Ignorar archivos grandes de datos
*.db
*.sqlite3
*.h5
*.parquet

# Ignorar archivos de migración de pruebas
/test_*.py 